@remote_host = "remote.host.address" 			  #eg. my_server.dyndns-server.com or ip address
@local_host = "local.host.address" 				  #eg. my_server.local or local ip 192.168.x.y
@port = "22"
@username = "username" 										  #remote ssh username
@password = "password" 										  #remote ssh password
@local_path = "/path/to/my/local/folder/" 	#local folder to listen to
@remote_path = "/path/to/my/remote/folder/" #remote folder location, copy target